body{
	background-color: rgb(100, 65, 90);
}


.menu_grid{
	margin-top: 100px;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
 	grid-gap: 10px;
  	grid-template-rows: repeat(4, 100px);
}


#title{
	font-size: 40px;
	line-height: 75px;
	grid-column: 2 / 3;
  	grid-row: 1 / 2;
	color: rgb(186, 189, 155)
}

#menu_start{
	grid-column: 2 / 3;
  	grid-row: 2 / 3;
	background-color: rgb(236, 236, 185);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

#menu_options{
	grid-column: 2 / 3;
  	grid-row: 3 / 4;
	background-color: rgb(236, 236, 185);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

#menu_exit{
	grid-column: 2 / 3;
  	grid-row: 4 / 5;
	background-color: rgb(236, 236, 185);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

p{
	text-align: center;
}

button.menu-object:active{
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	width: 600px;
	height: 75px;
}

.menu{
	margin-top: 100px;
	width: 500px;
	background-color: rgb(236, 236, 185);
	color:rgb(37, 37, 37);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;

}

.menu_titol h1{
	font-size: 40px;
	text-align: center;
}

.menu_opcions{
	margin-top: 20px;
	border: 3px solid rgb(100, 65, 90);
	padding: 20px;
}

.menu_opcions button{
	display: block;
	width: 150px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(100, 65, 90);
	color: white;
	font-size: 20px;
}

.menu_opcions button:active{
	background-color: rgb(58, 39, 53);
}

.menu_opcions button:hover:not(:active){
	background-color: rgb(153, 87, 135);
	width: 200px;
	height: 70px;
	font-size: 30px;
}

.menu_opcions a{
	text-decoration: none;
}
